<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LF Design Speedlify</title>
		<meta name="description" content="Automated Google Lighthouse testing on LF Design sites.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Fira+Code&display=swap" />
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<h1 class="speedlify-hed"><a href="{{ '/' | url }}">LF Design Speedlify</a>{% if vertical %}: {{ vertical }}{% endif %}</h1>
		<p class="speedlify-subhed">
			Automated Google Lighthouse testing on <a href="https://louisefindlay.com">LF Design</a> sites.
			{%- if maxResults %}
				Updates <em>at most</em> once every {{ sites[vertical].options.frequency or 60 }} minutes. Only the last {{ maxResults }} result{% if maxResults != 1 %}s{% endif %} (and the oldest result) are shown.
			{% endif %}
		</p>
		<p class="speedlify-subhed">
			Sites are categorised by technology type and are analysed based on desktop performance, best practises, SEO and Axe accessibility.
		</p>

		{{ content | safe }}

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>